div.days-container {
  height: 20px;
  width: fit-content;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  background-color: #E1DEE3;
  margin: 0 15px;
}

div.days-container:hover, div.selected{
  cursor: pointer;
  background-color: #d1cdd3;

}

div.selected {
  border: 1px solid grey;
  padding: 9.2px 19.3px;  
}

p.day {
  margin: 0;
  font-size: 18px;
  transform: translateY(-3px);
}