div.dropdown-item-container {
  width: 240px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  overflow-wrap: break-word;
}

div.dropdown-item-container:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.08);
}