p.text {
  margin: 0;
}

div.preference-overall {
  display: flex;
  flex-direction: column;
}

div.preference-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.tabs {
  width: calc(80% + 40px);
  padding: 0 30px;
  height: 50px;
  border-radius: 15px 15px 0 0;
  background-color: #DCC4BE;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: start;
}

div.ctranslate-1 {
  transform: translateX(-30px);
}

div.ctranslate-2 {
  transform: translateX(200px);
}

div.ctranslate-3 {
  transform: translateX(170px);
}

div.ctranslate-4 {
  transform: translateX(400px);
}

div.stranslate-1 {
  transform: translateX(-15px);
}

div.stranslate-2 {
  transform: translateX(200px);
}

div.stranslate-3 {
  transform: translateX(185px);
}

div.stranslate-4 {
  transform: translateX(400px);
}

div.circle {
  background-color: #DCC4BE;
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

div.square {
  background-color: #DECFCE;
  position: absolute;
  height: 15px;
  width: 15px;
}

div.mask-light {
  background-color: #DECFCE;
}

div.mask-dark {
  background-color: #DCC4BE;
}

div.tab {
  height: 45px;
  width: 200px;
  border-radius: 15px 15px 0 0;
  background-color: #DECFCE;
  display: flex;
  align-items: end;
  border-right: 1px solid grey;
}

div.tab:hover {
  cursor: pointer;
}

div.inactive {
  background-color: #DCC4BE;
}

p.preference, p.rooms {
  padding: 15px;
  margin: 0;
  font-weight:500;
  font-size: 15px;
  z-index: 10;
}

div.preference-body, div.rooms-body{
  width: 80%;
  /*border: 1px solid #C6A79E;*/
  background-color: #DECFCE;
  border-radius: 0 0 15px 15px;
  padding: 50px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

div.rooms.body{
  flex-direction: row;
}

p.title {
  font-size: 25px;
  font-weight: bold;
}

div.add-modules {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.sm-container {
  padding-top: 50px;
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 15px;
}

p.module {
  font-size: 18px;
}

input.search-module {
  margin-left: 10px;
  border: 0;
  padding: 10px;
  margin-right: 20px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #E1DEE3;
  width: 300px;
}

input.search-module::placeholder {
  font-size: 15px;
}

input.search-module:focus {
  outline: none;
}

div.dropdown-container {
  display: flex;
  flex-direction: column;
}

div.dropdown {
  width: 320px;
  height: auto;
  max-height: 200px;
  background-color: #E1DEE3;
  position: absolute;
  transform: translate3d(10px,35px,0);
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 5;
}

div.invisible {
  background-color: rgba(0,0,0,0);
  z-index: -10;
}

div.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.attending-container {
  padding-top: 60px;
  flex-wrap: wrap;
  row-gap: 20px;
}

div.start-time {
  padding-top: 30px;
}

p.dwm, p.st, p.et, p.lo, p.lt, p.duration, p.fm, p.om{
  margin: 0;
  padding-right: 20px;
  font-size: 18px;
}

div.end-time {
  padding-top: 30px;
  padding-bottom: 30px;
}

div.lunch-option {
  padding-top: 30px;
}

input.lo-checkbox {
  margin: 0;
  transform: translateY(2px);
  accent-color: #E1DEE3;
  height: 15px;
  width: 15px;
}

div.lunch-timing {
  padding-top: 30px;
}

div.generate-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

div.generate-button-container {
  width: calc(80vw + 80px);
  display: flex;
  flex-direction: row;
  justify-content: right;
}

button.button:hover {
  cursor: pointer;
}

button.button {
  border: 0;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #DECFCE;
  margin-bottom: 30px;
}

button.new-room-button {
  background-color: #DCC4BE;
  margin: 0;
  margin-top: 20px;
  align-self: center;
  width: 200px;
}

div.select-time {
  height: 20px;
  width: 100px;
  padding: 10px;
  background-color: #E1DEE3;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  border-radius: 5px;
  position: relative;
  box-shadow:0 0 0 1px rgba(186,186,186,0.5);  
}

div.select-time:hover {
  cursor: pointer;
}

img.dd {
  height: 10px;
  width: 10px;
}

div.time-dd {
  position: absolute;
  width: 120px;
  height: 120px;
  transform: translate3d(10px, 70px, 0);
  box-shadow:
  1px 0 0 0 rgba(186,186,186,0.5),   
  -1px 0 0 0 rgba(186,186,186,0.5),  
  0 1px 0 0 rgba(186,186,186,0.5);  
}

div.longer-dd {
  margin-right: 15px;
  min-width: 180px;
}

div.extend-dd {
  width: 200px;
}

div.time-container:hover {
  background-color: rgba(0,0,0,0.08);
}

p.time {
  padding: 10px;
  margin: 0;
}

p.dash {
  padding: 0 15px;
}

div.lunch-duration {
  padding-top: 20px;
}

div.pad-top {
  padding-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}

div.circle-button {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  background-color: rgba(163, 163, 163, 0.5);
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.circle-button:hover {
  cursor: pointer;
}

p.plus {
  margin: 0;
  font-size: 30px;
  transform: translateY(-3px);
}

div.compulsary-mods-container, div.optional-mods-container {
  padding-top: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
}

p.add {
  margin: 0;
  font-size: 12px;
}

div.add-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 30px;
  border-radius: 15px;
  background-color: #E1DEE3;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(186, 186, 186, 0.5);
}

div.unclickable {
  cursor: not-allowed;
}

div.mod-modification {
  display: flex;
  flex-direction: column;
}

div.clear-mods-container {
  padding-top: 20px;
}

div.position-right {
  position: absolute;
  right: 50px;
}

p.placeholder {
  font-size: 15px;
  color: grey;
}

div.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

p.no-room-msg {
  font-size: 15px;
  font-style: italic;
}

div.right-justified {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-top: 20px;
}

button.dark {
  margin-left: 30px;
  background-color: #DCC4BE;
}