p.text {
  margin: 0;
}

div.preference-overall {
  display: flex;
  flex-direction: column;
}

div.preference-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.preference-body {
  width: 80vw;
  /*border: 1px solid #C6A79E;*/
  background-color: #DECFCE;
  border-radius: 15px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

p.title {
  font-size: 25px;
  font-weight: bold;
}

div.add-modules {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70vw;
  flex-wrap: wrap;
  row-gap: 20px;
}

p.module {
  font-size: 18px;
}

input.search-module {
  margin-left: 10px;
  border: 0;
  padding: 10px;
  margin-right: 20px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #E1DEE3;
  width: 300px;
}

input.search-module::placeholder {
  font-size: 15px;
}

input.search-module:focus {
  outline: none;
}

div.dropdown-container {
  display: flex;
  flex-direction: column;
}

div.dropdown {
  width: 320px;
  height: 200px;
  background-color: #E1DEE3;
  position: absolute;
  transform: translate3d(10px,35px,0);
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 5;
}

div.invisible {
  background-color: rgba(0,0,0,0);
  z-index: -10;
}

div.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.attending-container {
  padding-top: 30px;
  flex-wrap: wrap;
  row-gap: 20px;
}

div.start-time {
  padding-top: 30px;
}

p.dwm, p.st, p.et, p.lo, p.lt, p.duration {
  margin: 0;
  padding-right: 20px;
  font-size: 18px;
}

div.end-time {
  padding-top: 30px;
}

div.lunch-option {
  padding-top: 30px;
}

input.lo-checkbox {
  margin: 0;
  transform: translateY(2px);
  accent-color: #E1DEE3;
  height: 15px;
  width: 15px;
}

div.lunch-timing {
  padding-top: 30px;
}

div.generate-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

div.generate-button-container {
  width: calc(80vw + 80px);
  display: flex;
  flex-direction: row;
  justify-content: right;
}

button.generate-button:hover {
  cursor: pointer;
}

button.generate-button {
  border: 0;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #DECFCE;
  margin-bottom: 30px;
}

div.select-time {
  height: 20px;
  width: 100px;
  padding: 10px;
  background-color: #E1DEE3;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  border-radius: 5px;
  position: relative;
}

div.select-time:hover {
  cursor: pointer;
}

img.dd {
  height: 10px;
  width: 10px;
}

div.time-dd {
  position: absolute;
  width: 120px;
  height: 120px;
  transform: translate3d(10px, 70px, 0);
}

div.time-container:hover {
  background-color: rgba(0,0,0,0.08);
}

p.time {
  padding: 10px;
  margin: 0;
}

p.dash {
  padding: 0 15px;
}

div.lunch-duration {
  padding-top: 20px;
}