div.room-card-container {
  height: 100px;
  width: 260px;
  min-width: fit-content;
  border-radius: 15px;
  background-color: #DCC4BE; 
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
  box-shadow: 3px 3px 2px rgb(186, 186, 186);
}

p.mod-title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

div.participants-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button.room-action {
  height: 40px;
  width: 90px;
  border: 0;
  border-radius: 5px;
  justify-self: center;
  align-self: center;
  background-color: #DAB8AE;
  margin-right: 20px;
}

button.room-action:hover {
  cursor: pointer;
}

div.room-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

div.room-card-row {
  width: 100%;
  height: 100px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

div.room-grid {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
  width: 100%;
  align-items: center;
}

div.dividor {
  width: 100%;
  border-top: 2px solid rgb(186, 186, 186);
  transform: translateY(10px);
  position: relative;
  padding-bottom: 10px;
  margin-top: 10px;
}

p.room-name {
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
}

p.empty-room {
  font-style: italic;
  color: grey;
}

div.users-container {
  display: flex;
  flex-direction: row;
}

div.user-icon {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 1px solid grey;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

div.user-icon:hover div.user-fulltext {
  visibility: visible;
  transform: translateY(-30px);
  transition: 0.3s ease-in-out;
  background-color: rgba(186, 186, 186, 0.9);
}

div.user-icon:hover p.username {
  color: rgba(0,0,0,0.9);
  transition: 0.3s ease-in-out;
}

div.user-fulltext {
  position: absolute;
  height: fit-content;
  width: fit-content;
  padding: 8px 10px;
  background-color: rgba(186, 186, 186, 0);
  border-radius: 8px;
  transform: translateY(-15px);
}

p.user-text {
  margin: 0;
}

p.username {
  margin: 0;
  color: rgba(0,0,0,0);
}

div.add-duplicate-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(186, 186, 186, 0);
  transform: translateY(-13px);
}

p.plus-sign {
  margin: 0;
  transform: translateY(-2px);
  font-size: 18px;
  color: rgba(0,0,0,0);
}

div.dividor:hover div.add-duplicate-container {
  background-color: rgba(186, 186, 186, 1);
}

div.dividor:hover p.plus-sign {
  color: rgba(0,0,0,1);
}

div.add-duplicate-container:hover {
  cursor: pointer;;
}