div.selected-mods-container {
  position: relative;
  width: fit-content;
  height: 40px;
  border-radius: 20px;
  background-color: #E1DEE3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  margin: 0 5px;
}

div.selected-mods-container:hover div.sm-overlay {
  visibility: visible;
  cursor: pointer;
}

div.sm-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

p.close {
  color: #E1DEE3;
  font-size: 25px;
  margin: 0;
  padding: 0;
  transform: translateY(-3px);
}